body {
  font-size: 18px;
  color: black;
  font-weight: 400;
  font-family: Times New Roman;
}
.col-md-12 h3 {
  margin-top: 10px;
}
#chicken, #beef, #turkey {
  background-color: lightgray;
  margin: 2px;
}
/** HEADER **/
#header-nav {
  background-color: brown;
  border-radius: 0;
  border: 0;
  min-height: 100px;

}

#body h3, h2 {
  text-align: center;
  margin: 10px;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: White;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;

  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: white;
  text-align: center;
  cursor: pointer;
}
#nav-list a:hover {
  background: gray;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid yellow;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END FOOTER */

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */

  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }



  /* Footer */

  /* End Footer */
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */


}
